In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Fetch the data and load it in pandas

In [3]:
import os
from urllib.request import urlretrieve

url = ("https://archive.ics.uci.edu/ml/machine-learning-databases"
       "/adult/adult.data")
local_filename = os.path.basename(url)
if not os.path.exists(local_filename):
    print("Downloading Adult Census datasets from UCI")
    urlretrieve(url, local_filename)

In [4]:
names = ("age, workclass, fnlwgt, education, education-num, "
         "marital-status, occupation, relationship, race, sex, "
         "capital-gain, capital-loss, hours-per-week, "
         "native-country, income").split(', ')    
data = pd.read_csv(local_filename, names=names).drop('fnlwgt', axis=1)

In [5]:
data.head()

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [48]:
target = (data['income'].values == ' >50K').astype(np.int32)
features = data.drop('income', axis=1)

In [49]:
from sklearn.model_selection import train_test_split


features_train, features_test, target_train, target_test = train_test_split(
    features, target, test_size=0.2, random_state=0)

## One-hot Encoding

In [71]:
features_train

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
15282,36,Private,11th,7,Divorced,Transport-moving,Not-in-family,White,Male,0,0,40,United-States
24870,35,Private,HS-grad,9,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,54,United-States
18822,38,Private,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,50,United-States
26404,50,Private,HS-grad,9,Married-civ-spouse,Sales,Wife,Black,Female,0,0,40,United-States
7842,68,Self-emp-not-inc,Assoc-voc,11,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,2149,40,United-States
4890,51,Self-emp-not-inc,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,75,United-States
3243,25,Private,9th,5,Never-married,Machine-op-inspct,Other-relative,White,Male,0,0,48,Mexico
17470,19,?,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States
14211,34,Self-emp-not-inc,Assoc-voc,11,Never-married,Other-service,Other-relative,White,Female,0,0,40,United-States
22453,24,Private,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States
631,49,Local-gov,10th,6,Separated,Other-service,Unmarried,Black,Female,0,0,40,United-States
29051,20,Private,Some-college,10,Never-married,Sales,Own-child,White,Male,0,0,35,United-States
21478,57,Private,12th,8,Married-civ-spouse,Adm-clerical,Husband,Black,Male,0,0,40,United-States
26565,29,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
25140,31,State-gov,HS-grad,9,Never-married,Protective-serv,Other-relative,Asian-Pac-Islander,Male,0,0,40,United-States
15497,61,Private,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States
14689,72,Private,Assoc-voc,11,Separated,Other-service,Unmarried,White,Female,6723,0,25,United-States
18726,20,Private,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,40,Mexico
28105,49,Private,Some-college,10,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,30,United-States
6965,32,Private,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3908,0,40,United-States
4343,33,Local-gov,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688,0,50,United-States
24308,22,?,Some-college,10,Never-married,?,Not-in-family,Black,Female,0,0,35,United-States
11380,24,Self-emp-not-inc,Some-college,10,Never-married,Other-service,Not-in-family,White,Female,0,0,50,United-States
26087,32,Private,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,Ireland
5679,76,?,Bachelors,13,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States
13019,49,State-gov,HS-grad,9,Divorced,Exec-managerial,Unmarried,White,Female,0,0,44,United-States
24049,32,Private,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States
32119,46,Private,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,45,United-States
25586,33,Private,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
26959,32,State-gov,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,10,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6216,41,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States
27469,19,Private,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States
16921,27,Self-emp-not-inc,9th,5,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
26277,44,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,50,England
2897,64,Private,10th,6,Separated,Other-service,Not-in-family,White,Female,0,0,35,United-States
24152,21,Private,10th,6,Married-civ-spouse,Other-service,Husband,White,Male,3908,0,40,United-States
18606,20,Private,Some-college,10,Never-married,Adm-clerical,Own-child,White,Male,0,0,25,Nicaragua
10327,48,Self-emp-not-inc,Prof-school,15,Divorced,Prof-specialty,Unmarried,White,Male,14084,0,63,United-States
18983,24,Private,Bachelors,13,Never-married,Sales,Not-in-family,White,Male,0,0,50,United-States
32230,47,Self-emp-inc,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,2415,45,United-States
17089,21,Private,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,20,United-States
14650,37,Self-emp-not-inc,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States
19852,45,Private,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2179,45,United-States
6744,34,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,80,United-States
15832,60,State-gov,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,40,United-States
15430,24,Private,Some-college,10,Never-married,Sales,Not-in-family,White,Female,0,0,24,United-States
14935,23,State-gov,5th-6th,3,Never-married,Transport-moving,Not-in-family,White,Male,0,0,35,United-States
14116,30,Private,HS-grad,9,Never-married,Adm-clerical,Unmarried,White,Female,0,0,24,United-States
22258,17,Private,10th,6,Never-married,Sales,Own-child,White,Female,0,0,20,United-States
20757,17,?,10th,6,Never-married,?,Own-child,White,Male,0,0,30,United-States
24275,26,Private,HS-grad,9,Widowed,Transport-moving,Not-in-family,White,Male,0,0,40,United-States
9225,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,2002,40,England
32103,34,?,7th-8th,4,Separated,?,Unmarried,Black,Female,0,0,40,United-States
30403,56,Private,HS-grad,9,Married-civ-spouse,Sales,Wife,White,Female,0,0,4,United-States
21243,65,?,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,2414,0,30,United-States
13123,43,Local-gov,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States
19648,44,Private,10th,6,Never-married,Farming-fishing,Unmarried,White,Male,0,0,35,United-States
9845,23,Private,Some-college,10,Separated,Sales,Own-child,White,Female,0,0,40,United-States
10799,45,Local-gov,Doctorate,16,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,45,United-States
2732,25,Private,Some-college,10,Never-married,Other-service,Not-in-family,White,Male,2597,0,48,United-States

In [70]:
dummies_train = pd.get_dummies(features_train)
dummies_train

,age,education-num,capital-gain,capital-loss,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
15282,36,7,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
24870,35,9,0,0,54,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
18822,38,13,0,0,50,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
26404,50,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
7842,68,11,0,2149,40,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4890,51,10,0,0,75,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3243,25,5,0,0,48,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
17470,19,10,0,0,30,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
14211,34,11,0,0,40,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
22453,24,10,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
631,49,6,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
29051,20,10,0,0,35,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
21478,57,8,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
26565,29,9,0,0,40,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
25140,31,9,0,0,40,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
15497,61,16,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
14689,72,11,6723,0,25,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
18726,20,10,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
28105,49,10,0,0,30,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
6965,32,15,3908,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4343,33,14,7688,0,50,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
24308,22,10,0,0,35,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
11380,24,10,0,0,50,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
26087,32,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5679,76,13,0,0,10,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
13019,49,9,0,0,44,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
24049,32,14,0,0,60,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
32119,46,10,0,0,45,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
25586,33,10,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
26959,32,14,0,0,10,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6216,41,13,0,0,50,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
27469,19,10,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16921,27,5,0,0,40,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
26277,44,9,7298,0,50,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2897,64,6,0,0,35,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
24152,21,6,3908,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
18606,20,10,0,0,25,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
10327,48,15,14084,0,63,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
18983,24,13,0,0,50,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
32230,47,15,0,2415,45,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
17089,21,9,0,0,20,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
14650,37,14,0,0,50,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
19852,45,9,0,2179,45,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
6744,34,9,0,0,80,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
15832,60,16,0,1902,40,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
15430,24,10,0,0,24,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
14935,23,3,0,0,35,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
14116,30,9,0,0,24,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
22258,17,6,0,0,20,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
20757,17,6,0,0,30,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
24275,26,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
9225,28,12,0,2002,40,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
32103,34,4,0,0,40,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
30403,56,9,0,0,4,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
21243,65,9,2414,0,30,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
13123,43,14,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
19648,44,6,0,0,35,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
9845,23,10,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
10799,45,16,7688,0,45,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2732,25,10,2597,0,48,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [66]:
dummies_test = pd.get_dummies(features_test)

In [68]:
dummies_train.columns.size

107

In [69]:
dummies_test.columns.size

106

## The scikit-learn transformer API

In [59]:
from sklearn.base import BaseEstimator, TransformerMixin


class OneHotEncoder(BaseEstimator, TransformerMixin):
    """One-Hot encode categorical variables of a pandas DataFrame
    
    Note that sklearn.preprocessing.OneHotEncoder only works on
    numpy arrays with integer valued categorical features.
    """

    def fit(self, X, y=None):
        self.fit_transform(X, y)
        return self

    def fit_transform(self, X, y=None):
        """Encode X and store keep encoding data for later transform"""
        encoded = pd.get_dummies(X)
        self.column_names_ = encoded.columns
        return encoded

    def transform(self, X):
        encoded = pd.get_dummies(X)
        # Add missing (unobserved) columns (with zeros) and remove
        # columns not observed at fit time:
        encoded = encoded.reindex(columns=self.column_names_, fill_value=0)
        return encoded

In [60]:
oh_encoder = OneHotEncoder()
oh_train = oh_encoder.fit_transform(features_train, target_train)
oh_test = oh_encoder.transform(features_test)

In [61]:
oh_train.head()

,age,education-num,capital-gain,capital-loss,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
15282,36,7,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
24870,35,9,0,0,54,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
18822,38,13,0,0,50,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
26404,50,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
7842,68,11,0,2149,40,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [62]:
oh_test.describe()

,age,education-num,capital-gain,capital-loss,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
count,6513.000000,6513.000000,6513.000000,6513.000000,6513.000000,6513.000000,6513.000000,6513.000000,6513.000000,6513.000000,...,6513.000000,6513.000000,6513.000000,6513.000000,6513.000000,6513.000000,6513.000000,6513.000000,6513.000000,6513.000000
mean,38.590204,10.133733,1056.367265,85.837556,40.484416,0.058038,0.029633,0.063872,0.000154,0.692001,...,0.000768,0.003685,0.000307,0.002150,0.001382,0.000461,0.000614,0.891294,0.002457,0.000461
std,13.690312,2.577202,7231.944668,395.524986,12.701670,0.233833,0.169586,0.244544,0.012391,0.461702,...,0.027699,0.060596,0.017522,0.046317,0.037150,0.021459,0.024776,0.311293,0.049507,0.021459
min,17.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,27.000000,9.000000,0.000000,0.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,37.000000,10.000000,0.000000,0.000000,40.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,48.000000,13.000000,0.000000,0.000000,45.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
max,90.000000,16.000000,99999.000000,2824.000000,99.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [74]:
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

pipeline = make_pipeline(
    OneHotEncoder(),
    DecisionTreeClassifier(max_depth=8),
)

scores = cross_val_score(pipeline, features_train, target_train, cv=5,
                         scoring='roc_auc')
print("ROC AUC: {:.4f} +/-{:.4f}".format(
    np.mean(scores), np.std(scores)))

ROC AUC: 0.9007 +/-0.0018

**Exercises**

- Write an encoder that dummy encodes low cardinality categorical variables and use target sorted integer encoding for the high cardinality variables
- Write a pipeline that combines these two encoders as preprocessing steps
- Use scikit-optimize to find the best feature encoding strategy while tuning some classifier parameters at the same time: see the following examples for help:

https://scikit-optimize.github.io/notebooks/sklearn-gridsearchcv-replacement.html

- Advanced: checkout other encoding schems, for example in http://contrib.scikit-learn.org/categorical-encoding/